.rowAJ {
    width: 600px;
    background: transparent;
    border: 2px solid rgba(123, 120, 120, 0.101); /* Changed border color to black */
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: black; /* Changed text color to black */
    border-radius: 10px;
    padding: 30px 40px;
}

.rowAJ h1 {
    font-size: 36px;
    text-align: center;
    color: rgba(193, 14, 14, 0.964); /* Changed text color to black */
}

.rowAJ .input-boxAP {
    position: relative;
    width: 100%;
    height: 50px;
    background: blanchedalmond;
    margin: 30px 0;
}

.input-boxAJ input,
.input-boxAJ select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(105, 101, 101, 0.173); /* Changed border color to black */
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color:rgba(193, 14, 14, 0.964); /* Changed text color to black */
    padding: 20px 45px 20px 20px;
}

.input-boxAJ input::placeholder,
.input-boxAJ select::placeholder {
    color: rgba(193, 14, 14, 0.964); /* Changed placeholder text color to black */
}

.input-boxAJ .iconAP {
    position: relative;
    right: 20px;
    top: 55%;
    left: 85%;
    transform: translateY(-290%);
    font-size: 16px;
    color: rgba(193, 14, 14, 0.964); /* Changed icon color to black */
}

.rowAJ button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: 2px solid rgba(93, 87, 87, 0.153); /* Changed border color to black */
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black; /* Changed button text color to black */
    font-weight: 700;
}

.rowAJ .register-linkL {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: black; /* Changed link text color to black */
}

.register-linkL {
    color: black; /* Changed link text color to black */
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.input-boxAJ input[name="description"] {
    height: 100px; /* Adjust height as needed */
}

.input-boxAJ input:hover,
.input-boxAJ select:hover {
    border-color: rgba(193, 14, 14, 0.964); /* Change border color on hover */
}

/* body {
    background-image: url('https://i.pinimg.com/564x/11/e6/94/11e6949944b9f7a6d5fb5410e411f327.jpg');
    background-size: cover; /* or contain depending on how you want the image to scale */
    /* background-repeat: no-repeat;
    background-position: center;
} */
