/* Container for the job cards */
.jobs-container {
    display: grid;
    gap: 16px; /* Gap between the cards */
    margin: 20px;
}

/* Define the grid layout for different screen sizes using media queries */

/* For small screens (sm) - display one card per row */
@media (max-width: 576px) {
    .jobs-container {
        grid-template-columns: 1fr;
    }
}

/* For medium screens (md) - display two cards per row */
@media (min-width: 577px) and (max-width: 991px) {
    .jobs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For large screens (lg) and extra-large screens (xl) - display four cards per row */
@media (min-width: 992px) {
    .jobs-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Style for individual job card */
.job-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px; /* Increase padding for larger cards */
    background-color: #f9f9f9;
    transition: transform 0.3s;
}

/* Hover effect for job card */
.job-card:hover {
    transform: translateY(-5px);
}

/* Style for the job info section */
.job-info {
    margin-bottom: 16px; /* Add some margin at the bottom */
}

/* Style for the button */
.btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px; /* Increase padding for larger button */
    background-color: #eee6e6;
    color: #010101;
    border: none;
}

.btn:hover {
    background-color: #b92727;
    color: #ffffff;
    border: none;
}

.hamburger-menu {
    cursor: pointer;
    padding: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
}


/* Hamburger icon */
.hamburger-icon {
    font-size: 24px;
    
}

/* Dropdown menu */
.menu {
    position: absolute;
    top: 50px; /* Adjust the top offset if necessary */
    right: 20px; /* Adjust the right offset if necessary */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

/* Menu list */
.menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

/* Menu items */
.menu ul li {
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

/* Remove border for the last menu item */
.menu ul li:last-child {
    border-bottom: none;
}

/* Hover effect for menu items */
.menu ul li:hover {
    background-color: #f0f0f0;
}

/* Job details icons */
.job-info p {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.job-info p svg {
    margin-right: 8px;
    color: #b92727; /* Red color for icons */
}
