.container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.job-details {
    border: 1px solid #cccccc2d;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    margin-top: 20px;
    width: 100%;
    max-width: 600px; /* Ensure a max width to keep it centered and readable */
}

.job-details h2 {
    text-align: center;
    margin-bottom: 20px;
}

.job-details p {
    margin: 8px 0;
    font-size: 16px;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: left; /* Center the text content */
}

.job-details p svg {
    margin-right: 8px;
    color: #b92727; /* Red color for icons */
}
