.navbar {
    width: 100%;
    padding: 10px 20px;
    background-color: #333;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: #0c0c0c;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-link {
    color: #141212;
    margin-right: 10px; 
  }
  
  .nav-link:hover {
    color: #0a0909;
  }
  .nav-link .icon{
    position:relative;
    right: 20px;
    top: 55%;
    left: 85%;
    transform: translateY(-290%);
    font-size: 16px;
}