.about-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 10vh; /* Set the height to fill the entire viewport */
  }
  
  .content-container {
    width: 100%; /* Set the width to 100% */
  }
  
  .centered {
    display: block; /* Allow the link to be treated as a block element */
    text-align: center; /* Center the text */
    margin: 0 auto; /* Center the link */
  }
  .content-container:hover{
    color:rgba(193, 14, 14, 0.964) ;
  }
  .h4, p {
    text-align: center;
  }

  .main-content-container {
    /* Center the container horizontally */
    margin: 0 auto;

    /* Set a max-width to control the width of the container */
    max-width: 800px;

    /* Additional styling */
    padding: 20px;
    text-align: center; /* Optional: Align text to center */
}

  
  
