/* 
.rowPR{
    align-items: center;
}
.rowPR{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(225, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(30px);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

  
.rowPR h1{
    font-size: 36px;
    text-align: center;
}
.rowPR .input-box{
    position: relative;
    width: 100%;
    height: 50px;
   
    margin: 30px 0;
}
.rowPR-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(225, 255, 255, 2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding:20px 45px 20px 20px ;

}
.rowPR-box input::placeholder{
    color:white ;

}
.rowPR-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}
.rowPR .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 4px;
}
.remember-forgot a {
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.rowPR button{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.rowPR .register-link
{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a :hover{
    text-decoration: underline;
} */
/* 
.row{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255 , 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0 , 0, 0, .1);
    color: #161515;
    border-radius: 10px;
    padding: 30px 40px;
}

.row h1{
    font-size: 36px;
    text-align: center;

}
.row.input-box{
    position: relative;
    width:100%;
    height:50px;
    background: blanchedalmond;
    margin: 30px 0;

}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255 , 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #0b0b0b;
    padding: 20px 45px 20px 20px ;
}

.input-box input::placeholder{
    color: #fff;

}

.input-box .icon{
    position:relative;
    right: 20px;
    top: 55%;
    left: 85%;
    transform: translateY(-290%);
    font-size: 16px;
}



.row button{
    width: 100% ;
    height: 45px;
    background:#fff;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0 , 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;


}

.row .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.register-link{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
} */

.rowPR {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(123, 120, 120, 0.101); /* Changed border color to black */
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: black; /* Changed text color to black */
    border-radius: 10px;
    padding: 30px 40px;
}

.rowPR h1 {
    font-size: 36px;
    text-align: center;
    color: rgba(193, 14, 14, 0.964); /* Changed text color to black */
}

.rowPR.input-boxPR {
    position: relative;
    width: 100%;
    height: 50px;
    background: blanchedalmond;
    margin: 30px 0;
}

.input-boxPR input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(105, 101, 101, 0.173); /* Changed border color to black */
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: black; /* Changed text color to black */
    padding: 20px 45px 20px 20px;
}

.input-boxPR input::placeholder {
    color: rgba(193, 14, 14, 0.964); /* Changed placeholder text color to black */
}

.input-boxPR .iconPR {
    position: relative;
    right: 20px;
    top: 55%;
    left: 85%;
    transform: translateY(-290%);
    font-size: 16px;
    color: rgba(193, 14, 14, 0.964); /* Changed icon color to black */
}

.rowPR button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: 2px solid rgba(93, 87, 87, 0.153); /* Changed border color to black */
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black; /* Changed button text color to black */
    font-weight: 700;
}

.rowPR .register-linkL {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: black; /* Changed link text color to black */
}

.register-linkL {
    color: black; /* Changed link text color to black */
    text-decoration: none;
    font-weight: 600;
}

.input-boxPR :hover {
    border-color: rgba(193, 14, 14, 0.964); /* Change border color on hover */
   
}

.register-link p a:hover {
    text-decoration: underline;
}

/* body {
    background-image: url('https://i.pinimg.com/564x/11/e6/94/11e6949944b9f7a6d5fb5410e411f327.jpg');
    background-size: cover; /* or contain depending on how you want the image to scale */
    /* background-repeat: no-repeat;
    background-position: center;
} */ 
