.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container {
    width: auto;
  }
  
  .card {
    width: 200px; /* Set a fixed width for all cards */
    height: 300px; /* Set a fixed height for all cards */
    margin-bottom: 20px;
  }
  
  @media (min-width: 576px) {
    .card {
      width: 250px;
      height: 350px; /* Adjust height for small devices and above */
    }
  }
  
  /* Ensuring all cards have the same dimensions */
  .card-img-top {
    width: 100%;
    height: 50%; /* Adjust the height of the image within the card */
    object-fit: cover; /* Ensure the image covers the entire space of the card */
  }
  
  .card-content {
    height: 50%; /* Adjust the height of the content within the card */
    overflow: hidden; /* Hide any overflow content */
  }
  
/* .row{
    width: 300px;
    border: none;
   }  */